@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+PE:wght@100..400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 20px;
  position: relative;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 70px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
}
.header__list :nth-child(5) {
  padding-left: 40px;
}

.header__list li {
  margin-left: 20px;
}

.header__list a {
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header__list img,
a {
  margin-right: 8px;
}

.header__btn {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__btn img {
  margin-right: 8px;
}

.header__burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header__burger-bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}
.header__burger-bar:nth-child(2) {
  width: 20px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    padding: 20px;
    margin: 0;
    z-index: 999;
    background-color: white;
  }
  .header__list :nth-child(5) {
    padding-left: 0;
  }
  .header__list.active {
    display: flex;
    align-items: flex-start;
  }

  .header__list li {
    margin: 10px 0;
    text-align: left;
  }

  .header__burger-menu {
    display: flex;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.block {
  display: flex;
}

.block__left {
  background-color: #000080;
  color: #ffffff;
  width: 50%;
  height: 400px;
}

.block__left-text {
  display: flex;
}

.block__right {
  width: 50%;
}

.block__right {
  height: 400px;
  background-image: url("/img/devka.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
