@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+PE:wght@100..400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 auto;
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding: 20px;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 70px;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
  width: 100%;
}

.header__list :nth-child(5) {
  padding-left: 40px;
}

.header__list li {
  margin-left: 20px;
}

.header__list a {
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header__list img,
a {
  margin-right: 8px;
}

.header__btn {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__btn img {
  margin-right: 8px;
}

.header__burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header__burger-bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.header__burger-bar:nth-child(2) {
  width: 20px;
  margin-left: 5px;
}

.section__content {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.block {
  position: relative;
  width: 50%;
}

.block__left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.block__left-text {
  position: absolute;
  color: white;
}

.block__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block__right {
  position: relative;
}

.block__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block__left-text p {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  display: flex;
  margin: 40px 16px;
}
.block__left-text p:nth-child(3) {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.9;
}

@media (max-width: 1198px) {
  .header__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 999;
    background-color: white;
  }

  .header__list :nth-child(5) {
    padding-left: 0;
  }

  .header__list.active {
    display: flex;
    align-items: flex-start;
  }

  .header__list li {
    margin: 10px 0;
    text-align: left;
  }

  .header__burger-menu {
    display: flex;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .block {
    width: 100%;
    height: 220px;
  }

  .block__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .block__left-text {
    color: white;
    width: 100%;
    text-align: left;
  }

  .block__left-text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 20px;
    display: block;
  }

  .block__left-text p:nth-child(3) {
    font-size: 16px;
  }
}
